<ons-navigator title="Navigator" var="appNavigator">
    
    <ons-page ng-controller="HomeController" style="background:#ed1f4b !important;" sliding-menu-ignore="true" class="home_page_section">
        <section >
            <div class="title_rect">
                <img class="title_img" src="img/title.png" />
            </div>
            <div class="content_rect">
                <img class="content_img" src="img/home_content.png" />
                
                <br>
                <button class="button play_button" ng-click="onPlayBtn()"></button>
                <br>
                <button class="button visit_shop_button" ng-click="onGotoShopBtn()"></button>
                <br>
            </div>
            <br>
        </section>
        
    </ons-page>

</ons-navigator>