<ons-page ng-cloak ng-controller="MoreLiveController" sliding-menu-ignore="true" style="background:#ea214c;">
    <section >
        <div class="more_live_top_bar">
            <div class="center" class="p_pause_txt">You're out of lives!</div>
        </div>
        
        <div class="tab_text">Tab the heart below to get more lives!</div>
        <div class="or_wait_text">or wait</div>
        <div class="text_30">30 minutes</div>
        <div class="for_lives_text">for lives to regenerate</div>
        
        <div style="width:100%; text-align:center;"><img src="img/more_lives.png" class="more_lives_btn" ng-click="onGotoShopBtn()"/></div>
        
        <img src="img/more_lives_character.png" class="more_charactor_img"/>

    </section>
    
</ons-page>