<ons-page ng-cloak ng-controller="PauseController" sliding-menu-ignore="true">
    <section style="background:white; height:100%;">
        <div class="pause_top_bar">
            <div class="center" class="p_pause_txt">Pause</div>
        </div>
        <div class="pause_btn_rect">
            <br>
            <button class="button p_visit_shop_button" ng-click="appNavigator.pushPage('templates/shop.html')"></button>
            <br>
            <button class="button continue_button" ng-click="onContinue()"></button>
            <br>
        </div>
    </section>
    
</ons-page>