<ons-page ng-cloak ng-controller="ShopController" sliding-menu-ignore="true">
    <section ng-cloak>
        <div ng-cloak class="shop_top_bar">
            <ons-row>
                <ons-col width="15%" ng-click="ons.navigator.popPage();">
                    <img class="back_img" src="img/back.png" />
                </ons-col>
                <ons-col>
                    <div class="title center">Welcome to The Shop</div>
                </ons-col>
            </ons-row>
        </div>
        <div class="shop_board" >
            <br>
            <div class="sneaky_peak_rect">
                <div class="sneaky_peak">Sneaky Peak</div>
                <div class="sneaky_peak_btn_rect">
                    <ons-row>
                        <ons-col width="33.33%" ng-click="addSneakyPeaks(5)">
                            <div class="sneaky_btn">
                                <i class="fa fa-eye"></i>
                                <p>x<font style="font-size:1.3em">5</font></p>
                                <p>£0.79</p>
                            </div>
                        </ons-col>
                        <ons-col width="33.33%" ng-click="addSneakyPeaks(10)">
                            <div class="sneaky_btn">
                                <i class="fa fa-eye"></i>
                                <p>x<font style="font-size:1.3em">10</font></p>
                                <p>£1.49</p>
                            </div>
                        </ons-col>
                        <ons-col width="33.33%" ng-click="addSneakyPeaks(30)">
                            <div class="sneaky_btn">
                                <i class="fa fa-eye"></i>
                                <p>x<font style="font-size:1.3em">30</font></p>
                                <p>£2.29</p>
                            </div>
                        </ons-col>
                    </ons-row>
                </div>
            </div>
            
            
            <div class="sneaky_peak_rect">
                <div class="clock_boost">Clock Boost</div>
                <div class="sneaky_peak_btn_rect">
                    <ons-row>
                        <ons-col width="33.33%" ng-click="addClockBoosts(5)">
                            <div class="clock_btn">
                                <i class="fa fa-clock-o"></i>
                                <p>x<font style="font-size:1.3em">5</font></p>
                                <p>£0.79</p>
                            </div>
                        </ons-col>
                        <ons-col width="33.33%" ng-click="addClockBoosts(10)">
                            <div class="clock_btn">
                                <i class="fa fa-clock-o"></i>
                                <p>x<font style="font-size:1.3em">10</font></p>
                                <p>£1.49</p>
                            </div>
                        </ons-col>
                        <ons-col width="33.33%" ng-click="addClockBoosts(30)">
                            <div class="clock_btn">
                                <i class="fa fa-clock-o"></i>
                                <p>x<font style="font-size:1.3em">30</font></p>
                                <p>£2.29</p>
                            </div>
                        </ons-col>
                    </ons-row>
                </div>
            </div>
            
            
            <div class="sneaky_peak_rect">
                <div class="tile_buster">Tile Buster</div>
                <div class="sneaky_peak_btn_rect">
                    <ons-row>
                        <ons-col width="33.33%" ng-click="addTileBusters(5)">
                            <div class="tile_buster_btn">
                                <i class="fa fa-gavel"></i>
                                <p>x<font style="font-size:1.3em">5</font></p>
                                <p>£0.79</p>
                            </div>
                        </ons-col>
                        <ons-col width="33.33%" ng-click="addTileBusters(10)">
                            <div class="tile_buster_btn">
                                <i class="fa fa-gavel"></i>
                                <p>x<font style="font-size:1.3em">10</font></p>
                                <p>£1.49</p>
                            </div>
                        </ons-col>
                        <ons-col width="33.33%" ng-click="addTileBusters(30)">
                            <div class="tile_buster_btn">
                                <i class="fa fa-gavel"></i>
                                <p>x<font style="font-size:1.3em">30</font></p>
                                <p>£2.29</p>
                            </div>
                        </ons-col>
                        </ons-col>
                    </ons-row>
                </div>
            </div>
            
            <div class="sneaky_peak_rect">
                <div class="life_text">Life</div>
                <div class="sneaky_peak_btn_rect">
                    <ons-row>
                        <ons-col width="100%" ng-click="clickMoreLives()">
                            <div class="life_btn">
                                <ons-row>
                                    <ons-col width="33.33%" >
                                        <i class="fa fa-heart"></i>
                                    </ons-col>
                                    <ons-col width="33.33%" >
                                        <p>x<font style="font-size:1.6em">100</font></p>
                                    </ons-col>
                                    <ons-col width="33.33%" >
                                        <p>£0.79</p>
                                    </ons-col>
                                </ons-row>
                            </div>
                        </ons-col>
                    </ons-row>
                </div>
            </div>
            
            
        </div>
        
    </section>
    
</ons-page>